body {
    background-color: ##AED6F1;
}
#Search {
    height: 34px;
    width:  12px;
    z-index: 2;
    margin-left: -187%;
}
.twitsearch {
    margin-left; 
    border: none;
    color: #1F618D;
}

.div {
    margin-top: 14%;
    margin-left: -9%;
}

.user {
    margin-left: : ; 
    font-size: 20px;
    color: #1F618D;
}
.password
{
     color: #1F618D;
     font-size: 20px;
     margin-left: : ; 
}
#Topic {
    height: 22px;
    width:  12px;
    float: left;
    margin-left: -187%;
}#Course {
    height: 22px;
    width:  12px;
    float:left;
    margin-bottom: :40%;
}
.tweet {
   
    background-color:##AED6F1;
     height: 22;
    width:  12px;
}
#logolink {
    color: white;
    text-decoration: none;
}
#search_key {
    width: 35px;
    height:17;
    border:2;

}
#footer {
    background-color: #EBF5FB;
    border-top:3px ;
    z-index:2
 
}





